<h1>These Are Tokyo's Best Restaurants</h1>
<div class="container">
  <ol>
    <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <p>Address: <%= restaurant.address %></p>
    <p>Category: <%= restaurant.category %></p>
    <% end %>
  </ol>
</div>
<%= link_to "Add New Restaurant", new_restaurant_path %>
